@import "../../../styles";

#header {
  width: 100%;
  height: 100%;
  .wrap {
    padding: .4rem;
  }
  button, .button, .btn {
    width: 100%;
    background: white;
    color: black;
    padding: 1rem;;
    margin: 0;
  }
}
